* {
  font-family:'Poppins', sans-serif;
  margin:0;
  padding:0;
}

:root {
  --black: #3D4454;
  --dark-pink: #D05986;
  --light-pink: #FFC4D1;
  --orange: #FFE8E1;
  --green: #D4DCCD;
  --white: #FFFFFF;
}

html {
  background: linear-gradient(121.28deg, var(--black) 0%, var(--dark-pink) 100%);
  height: 100%;
}

#card {
  background: var(--orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  height: 90vh;
  width: 90vw;
  max-width: 880px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(5vh);
  display: table;
}

#card p {
  color:var(--black);
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.035em;
  text-align: center;
  margin-top: 15vh;
}

.explanation {
  max-width: 248px;
  text-align: center;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.explanation a {
  font-weight: 700;
  color: var(--black);
}

.explanation a:hover {
  color: var(--dark-pink);
}

#keys_form {
  text-align: center;
  vertical-align: middle;
}

#card p #inbox-title {
  color:var(--dark-pink);
}

.textInput {
  min-width: 248px;
  min-height: 50px;
  margin-bottom: 10px;
  border: none;
  background: var(--black);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: var(--white);
}

.textInput::-webkit-input-placeholder { /* Edge */
  color:var(--light-pink);
}

.textInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:var(--light-pink);
}

.textInput::placeholder {
  color:var(--light-pink);
}

.button {
  background-color:var(--dark-pink);
  border: none;
  border-radius:8px;
  box-shadow: 0px 4px 4px rgba(107, 113, 126, 0.3);
  color:var(--white);
  cursor:pointer;
  text-align:center;
  transition:.4s;
  width:auto;
  width: 248px;
  min-height: 56px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: auto;
  margin-top: 8px;
  line-height: 56px;
}

.button:hover {
  background-color: var(--light-pink);
  box-shadow: 0px 4px 4px rgba(107, 113, 126, 0.6);
}

#signout_button {
  color: var(--dark-pink);
  background: transparent;
  box-shadow: none;
  border: 2px solid var(--dark-pink);
}

#authorize_button {
  margin-top: 30px;
}

#signout_button:hover {
  background: var(--light-pink);
}

#fetch_button.disabled, #fetch_button.disabled:hover {
  background-color: var(--light-pink);
  cursor: default;
  box-shadow: none;
}

#error {
  color:var(--dark-pink);
  display:none;
}

#estimate-wrapper {
  display: none;
  margin: auto;
  text-align: center;
}

#loading {
  display: none;
}

#estimate {
  color: var(--black);
  text-align: center;
  margin-bottom: 56px;
  display: inline-block;
}

.date-float {
    float: right;
    display: inline-block;
    font-weight: 100;
}

.unreads {
    display: inline-block;
}
.panel a:hover {
    color: var(--orange);
}
.panel a {
    color: var(--dark-pink);
    font-weight: 600;
}

#results {
  max-height: 300px;
  overflow: scroll;
  margin-bottom: 0px;
  max-width: 260px;
  overflow-x: hidden;
  margin: auto;
  margin-top: 30px;
}

@media only screen and (min-width: 500px) {
  #results {
    max-width: 70%;
  }
}

/*The container */
.container {
  position: relative;
  margin-top:40px;
  margin-left: -20px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--dark-pink);
  text-align: center;
}

.container.disabled {
  cursor: default;
  color: var(--light-pink);
}

/*Hide the browser's default checkbox*/
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*Create a custom checkbox*/
.checkmark {
  position: absolute;
  top: 0;
  height: 25px;
  width: 25px;
  margin-left: 5px;
  border-radius: 8px;
  background-color: var(--light-pink);
}

.checkmark.disabled {
  background-color: #333;
}

/*On mouse-over, add a grey background color*/
.container:hover input ~ .checkmark {
  background-color: var(--light-pink);
}

.container:hover {
  color: var(--light-pink);
}

/* When the checkbox is checked, add a blue background*/
.container input:checked ~ .checkmark {
  background-color: var(--dark-pink);
}

/* When the checkbox is checked, add a blue background*/
.container:hover input:checked ~ .checkmark {
  background-color: var(--light-pink);
}

.container.disabled:hover input ~ .checkmark {
  background-color: var(--light-pink);
}
.container.disabled:hover {
  color: var(--light-pink);
}

.container.disabled input:checked ~ .checkmark {
  background-color: var(--light-pink);
}

.container.disabled:hover input:checked ~ .checkmark {
  background-color: var(--light-pink);
}

.panel {
  margin-bottom: 8px;
  background: var(--green);
  padding: 16px;
  font-size: 12px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#about {
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  padding:20px;
  cursor: pointer;
  transition:.4s;
  position:absolute;
  bottom: 0;
  right: 0;
}

#about:hover {
  color: var(--dark-pink);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 95%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
  border-radius: 6px;
}

.modal-content {
  background-color: var(--light-pink);
  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 300px;
  overflow-y: scroll;
}

.modal-content-inner {
  text-align: center;
  padding-top: 10px;
  width: 70%;
  margin: auto;
  font-size: 14px;
}

.close {
  color: var(--dark-pink);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}