@import "../../shared/variables";

.email-item {
  background: $green;
  padding: 8px 12px;
  margin-bottom: 3px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .email-sender {
    font-weight: 500;
    flex-basis: 100%;
  }

  .email-sender-email {
    font-weight: 300;
  }

  .email-filter-link {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    color: $dark-pink;
    position: relative;
    display: inline-block;

    &:hover {
      color: $dark-pink-hover;

      &:after {
        background-color: $dark-pink-hover;
      }

      /* Show the tooltip text when you mouse over the tooltip container */
      .tooltiptext {
        visibility: visible;
      }
    }

    /* Tooltip text */
    .tooltiptext {
      visibility: hidden;
      width: 50vw;
      max-width: 450px;
      background-color: $light-pink;
      color: $black;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      top: 20px;

      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }

    &:after {
      content: "";
      display: inline-block;
      background-color: red;
      -webkit-mask-image: url("external-link.svg");
      mask-image: url("external-link.svg");
      background-size: cover;
      width: 16px;
      height: 16px;
      position: relative;
      top: 3px;
      background-color: $dark-pink;
    }
  }

  .email-last-date {
    font-weight: 200;
    margin-left: auto;
  }
}
