$black: #3C3C53;
$black-hover: #272C36;
$dark-pink: #D05986;
$dark-pink-hover: #8C3556;
$light-pink: #FFC4D1;
$orange: #FFE8E1;
$green: #D4DCCD;
$dark-green: #97a887;
$white: #FFFFFF;

$desktop-break1: 850px;
$max-desktop-width: 800px;
$min-height: 300px;
$home-width: 345px;
$form-width: 268px;
$hide-meta-width: 640px;
