@import "../../shared/variables";

.container .description.estimate {
  flex-basis: 5%;
}

/*The container */
.check-container {
  position: relative;
  margin-left: -35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $dark-pink;
  text-align: center;
  margin-bottom: 35px;
}

.check-container.disabled {
  cursor: default;
  color: $light-pink;
}

/*Hide the browser's default checkbox*/
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*Create a custom checkbox*/
.checkmark {
  position: absolute;
  top: 0;
  height: 25px;
  width: 25px;
  margin-left: 10px;
  border-radius: 6px;
  background-color: $light-pink;
}

.checkmark.disabled {
  background-color: #333;
}

/*On mouse-over, add a grey background color*/
.check-container:hover input ~ .checkmark {
  background-color: $light-pink;
}

.check-container:hover {
  color: $light-pink;
}

.check-container input:checked ~ .checkmark {
  background-color: $dark-pink;
}

.check-container:hover input:checked ~ .checkmark {
  background-color: $light-pink;
}

.check-container.disabled:hover input ~ .checkmark {
  background-color: $light-pink;
}
.check-container.disabled:hover {
  color: $light-pink;
}

.check-container.disabled input:checked ~ .checkmark {
  background-color: $light-pink;
}

.check-container.disabled:hover input:checked ~ .checkmark {
  background-color: $light-pink;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}