@import "/shared/variables";

* {
  font-family:'Poppins', sans-serif;
}

body {
  background: linear-gradient(121.28deg, $black 0%, $dark-pink 100%);
}

a {
  color: $dark-pink;
  &:hover {
    color: $dark-pink-hover;
  }
}

.container {
  width: 100%;
  max-width: $max-desktop-width;
  margin: auto;
  background: $orange;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 90vh;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: $min-height;
  transition: all 200ms ease-in-out;

  .flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      min-width: $form-width;
      min-height: 50px;
      margin-bottom: 10px;
      border: none;
      background: $black;
      text-align: center;
      font-size: 16px;
      letter-spacing: 0.15px;
      color: $white;

      &:hover, &:focus {
        background: $black-hover;
      }

      &::-webkit-input-placeholder { /* Edge */
        color: $light-pink;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $light-pink;
      }

      &::placeholder {
        color: $light-pink;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      & :-webkit-autofill:active {
          transition:  "color 9999s ease-out, background-color 9999s ease-out";
          -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
          transition-delay: 9999s;
          -webkit-transition-delay: 9999s;
      }
    }

    .title {
      font-weight: 900;
      font-size: 36px;
      letter-spacing: -0.035em;
      text-transform: uppercase;
      color: $black;
      flex-basis: 14%;
      flex-shrink: 1;

      .title-highlight {
        color: $dark-pink;
      }
    }

    .description {
      color: $black;
      font-family: Poppins;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      text-align: center;
      max-width: $home-width;
      padding-bottom: 25px;
      flex-basis: 14%;
      flex-shrink: 1;
      padding-left: 10px;
      padding-right: 10px;
    }

    button {
      min-width: $form-width;
      min-height: 50px;
      margin-bottom: 10px;
      border: none;
      background: $dark-pink;
      box-shadow: 0px 4px 4px rgba(107, 113, 126, 0.3);
      border-radius: 6px;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.15px;
      cursor: pointer;
      transition: background 200ms;

      &.disabled {
        cursor: initial;
        background: $light-pink;
        box-shadow: none;
        outline: none;

        &:hover, &:focus {
          background: $light-pink;
        }
      }

      &:hover, &:focus {
        background: $dark-pink-hover;
      }

      &.secondary {
        background: transparent;
        color: $dark-pink;
        box-shadow: none;
        border: 2px solid $dark-pink;

        &:hover, &:focus {
          background: $light-pink;
          color: $dark-pink-hover;
        }
      }
    }
  }
}

.emails-container {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-basis: 45%;
  margin-bottom: 25px;
  width: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  transition: flex-basis 600ms ease-in-out;

  &.hidden {
    flex-basis: 0%
  }
}

@media only screen and (max-width: $desktop-break1) {
  .container {
    margin-left: 25px;
    margin-right: 25px;
    width: calc(100% - 50px);
  }

  .emails-container {
    width: calc(100% - 50px);
  }
}
